body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 80px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

label {
    font-size: 18px;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
