body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 80px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

label {
    font-size: 18px;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.navbar {
    width: 100%;
    background: #1e1e1e;     /* Dark navbar */
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.logout-btn {
    background: #ff4d4d;     /* Red button */
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.logout-btn:hover {
    background: #e60000;
    transform: scale(1.05);
}
